<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- 文件输出格式 -->
	<property name="PATTERN"
		value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{tracLogId}][%thread][%line][%method] %-5level %logger{50} - %msg%n" />
	<!-- test文件路径 -->
	<property name="TEST_FILE_PATH" value="/opt/webapps/log" />
	<!-- pro文件路径 -->
	<property name="PRO_FILE_PATH" value="/opt/webapps/log" />

	<!-- 开发环境 -->
	<springProfile name="dev">
		<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>${PATTERN}</pattern>
			</encoder>
		</appender>

		<root level="INFO">
			<appender-ref ref="CONSOLE" />
		</root>
		<logger name="org.springframework.kafka.listener" level="INFO"
			additivity="false">
			<appender-ref ref="CONSOLE" />
		</logger>
		<logger name="org.apache.kafka.clients.consumer.internals"
			level="INFO" additivity="false">
			<appender-ref ref="CONSOLE" />
		</logger>
	</springProfile>

	<!-- 测试环境 -->
	<springProfile name="test">
		<!-- 按照每天生成日志文件 -->
		<appender name="FILE"
			class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>${TEST_FILE_PATH}/fms.log</file>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<!--日志文件输出的文件名 -->
				<FileNamePattern>${TEST_FILE_PATH}/fms.%d{yyyyMMdd}.log
				</FileNamePattern>
				<!--日志文件保留天数 -->
				<!-- <MaxHistory>30</MaxHistory> -->
			</rollingPolicy>
			<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
				<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
				<pattern>${PATTERN}</pattern>
			</encoder>
		</appender>

		<!-- 日志输出级别 -->
		<root level="INFO">
			<appender-ref ref="FILE" />
		</root>
		<logger name="org.springframework.kafka.listener" level="INFO"
			additivity="false">
			<appender-ref ref="FILE" />
		</logger>
		<logger name="org.apache.kafka.clients.consumer.internals"
			level="INFO" additivity="false">
			<appender-ref ref="FILE" />
		</logger>
	</springProfile>

	<!-- 生产环境 -->
	<springProfile name="pro">
		<!-- 按照每天生成日志文件 -->
		<appender name="FILE"
			class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>${TEST_FILE_PATH}/fms.log</file>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<!--日志文件输出的文件名 -->
				<FileNamePattern>${PRO_FILE_PATH}/fms.%d{yyyyMMdd}.log
				</FileNamePattern>
				<!--日志文件保留天数 -->
				<!-- <MaxHistory>30</MaxHistory> -->
			</rollingPolicy>
			<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
				<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
				<pattern>${PATTERN}</pattern>
			</encoder>
		</appender>

		<!-- 日志输出级别 -->
		<root level="INFO">
			<appender-ref ref="FILE" />
		</root>
		<logger name="org.springframework.kafka.listener" level="INFO"
			additivity="false">
			<appender-ref ref="FILE" />
		</logger>
		<logger name="org.apache.kafka.clients.consumer.internals"
			level="INFO" additivity="false">
			<appender-ref ref="FILE" />
		</logger>
	</springProfile>

</configuration>
